/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* CardComponent.css */

.card {
  position: relative;
  width: 6.5rem;
  height: 400px;
  /* Set the desired height */
  background-size: cover;
  background-position: center;
  color: #fff;
  /* Text color for better contrast with the background image */
  text-shadow: 5px 2px 5px black;
  border-radius: 5px;
  -webkit-transition: width 1.2s;
  -o-transition: width 1.2s;
  transition: width 1.2s;
  margin-right: 1rem;
  /* -webkit-filter:contrast(0.7);
          filter:contrast(0.7);
  -webkit-filter:brightness(0.45);
          filter:brightness(0.45);
  -webkit-filter: saturate(0.2);
          filter: saturate(0.2);
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0 0 8px #fff; */
}

.card-content {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: -80px;
  -webkit-transition: left top 1.2s;
  -o-transition: left top 1.2s;
  transition: left top 1.2s;
  padding-left: 1em;
  /* margin: 0 auto; */

}

.card-content h2 {
  width: 200px;
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: right;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}


.explore-button {
  background-color: rgba(255, 255, 255, .2);
  color: black;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
  border-radius: 28px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bolder;
  border: none;
  box-shadow: inset 0 3px 12px rgba(255, 223, 52, .9), inset 0 -3px 4px rgba(255, 250, 215, .8);
}

.card:hover .color-1 {
  border-radius: 50%;
  /* top: 0; */
  left: 50%;
  width: 36px;
  height: 36px;
  transform: translateY(-25%);
  background-color: palevioletred;
  filter: blur(3px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-2 {
  border-radius: 50%;
  /* top: 0; */
  left: 40%;
  width: 40px;
  height: 40px;
  transform: translateY(-28%);
  background-color: blueviolet;
  filter: blur(2px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-3 {
  border-radius: 50%;
  /* top: 0; */
  left: 33%;
  width: 35px;
  height: 35px;
  transform: translateY(-23%);
  background-color: rgb(253, 166, 84);
  filter: blur(3px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-4 {
  border-radius: 50%;
  /* top: 0; */
  left: 54%;
  width: 32px;
  height: 32px;
  transform: translateY(-16%);
  background-color: rgb(86, 184, 89);
  filter: blur(2px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-5 {
  border-radius: 50%;
  /* top: 0; */
  left: 59%;
  width: 30px;
  height: 30px;
  transform: translateY(-28%);
  background-color: rgb(112, 216, 209);
  filter: blur(2px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-6 {
  border-radius: 50%;
  /* top: 0; */
  left: 40%;
  width: 26px;
  height: 26px;
  transform: translateY(15%);
  background-color: rgb(182, 184, 86);
  filter: blur(4px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

.card:hover .color-7 {
  border-radius: 50%;
  /* top: 0; */
  left: 59.5%;
  width: 23px;
  height: 23px;
  transform: translate(18%, 14%);
  background-color: rgb(112, 197, 216);
  filter: blur(1.2px);
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}


.card:hover {
  width: 25rem;
  height: 400px;
  /* Set the desired height */
  background-size: cover;
  background-position: center;
  color: #fff;
  /* Text color for better contrast with the background image */
  /* transition: transform 2s ease-in-out; */
  -webkit-filter: contrast(1);
  filter: contrast(1);
  -webkit-filter: brightness(1);
  filter: brightness(1);

}

.card:hover .card-title {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background: no-repeat center center;
  background-size: 100%;
  text-align: center;

  /* color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url('/src/assets/mainimg.png'); */
  -webkit-filter: brightness(8);
  filter: brightness(8);

}

.card:hover .explore-button {
  display: block;
}

.card:hover .card-content {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: -96px;
}

@media (max-width: 768px) {
  .card {
    width: 45%;
    height: 300px;
    /* Set the desired height */
    background-size: cover;
    background-position: center;
    color: #fff;
    /* Text color for better contrast with the background image */
    /* transition: transform 2s ease-in-out; */
    -webkit-filter: contrast(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    text-align: center;


  }

  .card-content {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: -96px;
    -webkit-transition: left top 1.2s;
    -o-transition: left top 1.2s;
    transition: left top 1.2s;
    padding-left: 1em;
    text-align: center;
    /* margin: 0 auto; */
  }

  .card-content h2 {
    width: 200px;
    font-size: 0.9rem;
  }

  .card:hover {
    width: 45%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    /* transition: transform 2s ease-in-out; */
    -webkit-filter: contrast(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }

  .card-title {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    text-align: center;
  }

  .explore-button {
    display: block;
  }

  .card-content {
    position: absolute;
    top: 70%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    bottom: -96px;
  }

  .color-1 {
    border-radius: 50%;
    /* top: 0; */
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translateY(-25%);
    background-color: palevioletred;
    filter: blur(3px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-2 {
    border-radius: 50%;
    /* top: 0; */
    left: 40%;
    width: 40px;
    height: 40px;
    transform: translateY(-28%);
    background-color: blueviolet;
    filter: blur(2px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-3 {
    border-radius: 50%;
    /* top: 0; */
    left: 33%;
    width: 35px;
    height: 35px;
    transform: translateY(-23%);
    background-color: rgb(253, 166, 84);
    filter: blur(3px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-4 {
    border-radius: 50%;
    /* top: 0; */
    left: 54%;
    width: 32px;
    height: 32px;
    transform: translateY(-16%);
    background-color: rgb(86, 184, 89);
    filter: blur(2px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-5 {
    border-radius: 50%;
    /* top: 0; */
    left: 59%;
    width: 30px;
    height: 30px;
    transform: translateY(-28%);
    background-color: rgb(112, 216, 209);
    filter: blur(2px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-6 {
    border-radius: 50%;
    /* top: 0; */
    left: 40%;
    width: 26px;
    height: 26px;
    transform: translateY(15%);
    background-color: rgb(182, 184, 86);
    filter: blur(4px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

  .color-7 {
    border-radius: 50%;
    /* top: 0; */
    left: 59.5%;
    width: 23px;
    height: 23px;
    transform: translate(18%, 14%);
    background-color: rgb(112, 197, 216);
    filter: blur(1.2px);
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }

}