/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* CardComponent.css */

.card {
  position: relative;
  width: 6.5rem;
  height: 400px; /* Set the desired height */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color for better contrast with the background image */
  text-shadow: 5px 2px 5px black;
  border-radius: 5px;
  -webkit-transition: width 1.2s;
  -o-transition: width 1.2s;
  transition: width 1.2s;
  margin-right: 1rem;
  /* -webkit-filter:contrast(0.7);
          filter:contrast(0.7);
  -webkit-filter:brightness(0.45);
          filter:brightness(0.45);
  -webkit-filter: saturate(0.2);
          filter: saturate(0.2);
  -webkit-box-shadow: 0 0 8px #fff; */
  /* box-shadow: 0 0 8px #fff; */
}

.card-content {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -80px;
  -webkit-transition: left top 1.2s;
  -o-transition: left top 1.2s;
  transition: left top 1.2s;
  padding-left: 1em;
  /* margin: 0 auto; */
  
}
.card-content h2{
  width: 200px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;

 
  
}


.explore-button {
  background-color: #000000;
  color: #fff;
  padding: 13px 30px;
  font-size: 13px;
  cursor: pointer;
  display: none;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bolder;
  
}

.explore-button:hover {
  background-color: #000000be;

}

.card:hover {
  width: 25rem;
  height: 400px; /* Set the desired height */
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color for better contrast with the background image */
  /* transition: transform 2s ease-in-out; */
  -webkit-filter:contrast(1);
          filter:contrast(1);
  -webkit-filter:brightness(1);
          filter:brightness(1);
  
}

.card:hover .card-title {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background:no-repeat center center;
  background-size: 100%;
  text-align: center;
  
  /* color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url('/src/assets/mainimg.png'); */
  -webkit-filter: brightness(8);
          filter: brightness(8);
          
}
.card:hover .explore-button {
  display: block;
}
.card:hover .card-content{
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: -96px;
}

@media (max-width: 768px) {
  .card {
      width: 45%;
      height: 300px; /* Set the desired height */
      background-size: cover;
      background-position: center;
      color: #fff; /* Text color for better contrast with the background image */
      /* transition: transform 2s ease-in-out; */
      -webkit-filter:contrast(1);
              filter:contrast(1);
      -webkit-filter:brightness(1);
              filter:brightness(1);
      text-align: center;
      
      
    }
    .card-content {
      position: absolute;
      top: 70%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      bottom: -96px;
      -webkit-transition: left top 1.2s;
      -o-transition: left top 1.2s;
      transition: left top 1.2s;
      padding-left: 1em;
      text-align: center;
      /* margin: 0 auto; */
      
    }
    .card-content h2{
      width: 200px;
    }
    
    .card:hover{
      width: 45%;
      height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    /* transition: transform 2s ease-in-out; */
    -webkit-filter: contrast(1);
    filter: contrast(1);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    }
    .card-title {
      -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
              transform: rotate(0deg);
              text-align: center;
    }
    .explore-button {
      display: block;
    }
    .card-content{
      position: absolute;
      top: 70%;
      left: 50%;
      /* transform: translate(-50%, -50%); */
      bottom: -96px;
    }

}
