/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.homepage {
    width: 100vw;
    height: 200vh;
    z-index: 90;
}

.synapse {
    width: 100vw;
    height: 200vh;
    /* position: absolute; */
}

.cont1 {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: last baseline;
        -ms-flex-align: last baseline;
            align-items: last baseline;
}

.homepageimgs {
    padding: 4rem;
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading-8vw{
    font-size: 8vw;
    margin: 0px;
}

.heading-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.heading-20vh{
    height: 15vh;
}

.themeimg {
    width: 30vw;
}

.synapseimg {
    width: 40vw;
}

.scrolldownicon1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: sticky;
}

.scrolldown:hover {
    -webkit-animation: scrollicongrowth 0.5s linear 0s 1;
            animation: scrollicongrowth 0.5s linear 0s 1;
}

.scrolltobottom{
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: absolute;
}
.scrolltobottom > img {
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 99;
    margin: 2.5vw;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.628318530718);
}


@-webkit-keyframes scrollicongrowth {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


@keyframes scrollicongrowth {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.bg-1 {
    width: 100vw;
    height: 200vh;
    background-image: url('../../assets/mainimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.aboutus {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
}

.aboutusheading {
    font-size: 3vw;
}

.cont2 {
    width: 50vw;
    padding-bottom: 4rem;
}

.cont3 {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.628318530718);
    border-radius: 20px;
}

.satoshi {
    font-family: 'Satoshi', sans-serif;
}

@media only screen and (max-width:500px) {
    .bg-1 {
        background-position: center;
    }
    .aboutusheading{
        font-size: 10vw ;
        margin: 0px;
    }
    .cont2 {
        width: 70vw;
        font-size: 4vw ;
        margin: 0px;
    }
    .homepageimgs {
        padding: 4rem;
    }
    .cont1 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .synapseimg {
        width: 80vw;
    }
    .heading-8vw{
        font-size: 18vw;
        margin: 0px;
    }
}


/* ===================================================================== */



.themeimg {
    width: 30vw;
}

.theme {
    width: 100vw;
    /* position: absolute; */
    background-color: black;
}

.theme2 {
    width: 100vw;
    height: 270vh;
    /* position: absolute; */
    background-color: black;
}

.themeflexout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
}

.themegrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.themeflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
}

.thetheme {
    font-size: 5vw;
}

.themetxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem 2rem 2rem 2rem;
    font-size: 20px;
}

.stickytxt{
    position: sticky;
}

.homepageevent {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/homepageevent.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.homepageevent>p {
    width: 50vw;
    font-size: 5vw;
    font-weight: 700;
    padding: 2rem;
}

.gallery {
    width: 100vw;
    height: 100vh;
}
@media only screen and (max-width:500px) {
    .homepageevent {
        background-position: center;
    }
    .themeflexout{
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .themegrid {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 100vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .themegrid > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .themegrid > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .themeimg {
        padding-top: 10px;
        width: 90vw;
    }
    .themeflex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .themetxt{
        padding: 2rem 2rem 0rem 2rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .thetheme {
        font-size: 10vw;
    }
    .themedes {
        font-size: 4vw;
    }
    .homepageevent>p {
        width: 50vw;
        font-size: 8vw;
        margin: 0px;
        padding: 0%;
    }
    .eventpageevent{
		background-position: center;
	}
	.eventpageevent>p {
        font-size: 8vw;
        margin: 0px;
        padding: 0%;
    }
}

@media only screen and (max-width:400px) {
    .homepageevent{
        height: 80vh;
    }
}