/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footern {
  width: 100vw;
  height: 60vh;
  margin: 0px;
  background-image: url('../../assets/footerimg.png');
  /* background: linear-gradient(130deg , black 20% , blue , orange , pink ); */
  /* background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%); */
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 2fr;
  height: 100%;
}

.footer1,
.footer2,
.footer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo2 {
  width: 5vw;
  -webkit-transition: all linear 0.314159265358979s;
  -o-transition: all linear 0.314159265358979s;
  transition: all linear 0.314159265358979s;
}

.logo2:hover {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-transition: all linear 1s ;
  -o-transition: all linear 1s ;
  transition: all linear 1s ;
}

.reachusoutat {
  font-size: 3vw;
  margin: 0px;
}

.pad-footer {
  padding-left: 1vw;
}

.social-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  background: rgb(255, 255, 255, 0.3);
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 14px;
}

.Btn {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  z-index: 2;
}

.BG {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: 1;
  border-radius: 10px;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0px;
}

.instagram .BG {
  background: -o-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
}

.youtube .BG {
  background-color: red;
}

.facebook .BG {
  background: #1877f2;
}

.Btn:hover .BG {
  -webkit-transform: scale(1.45);
      -ms-transform: scale(1.45);
          transform: scale(1.45);
  /* transform-origin: bottom; */
  font-size: 20px;
  color: white;
}

.Btn:hover .svgContainer {
  border: 1px solid rgba(216, 216, 216, 0.466);
  background-color: rgba(209, 209, 209, 0.466);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.map {
  padding: 5vw;
}

iframe {
  border-radius: 20px;
}

.footer-font-size {
  font-size: 1vw;
  line-height: 25px;
}

@media only screen and (max-width:500px) {
  .footern {
    background-position: center;
    height: 85vh;
  }

  .footer-font-size {
    font-size: 4vw;
    line-height: 18px;
  }

  .reachusoutat {
    font-size: 6vw;
    margin: 0px;
  }

  .footer-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .footer-grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer-grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .footer3 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .footer1,
  .footer2,
  .footer3 {
    padding: 0.2rem;
  }

  .logo2 {
    width: 12vw;
  }

  .Btn {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width:350px) {
  .Btn {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width:300px) {
  .Btn {
    width: 20px;
    height: 20px;
  }
}