/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background: black;
    font-family: "Fira Sans", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
    margin: auto;
    margin-bottom: 100px;
}

.gallery__strip {
    min-height: 85vh;
    width: 90%;
    overflow: hidden;
}

.gallery__strip__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: black;
    overflow: hidden;
    width: 90%;
    /* padding-right: 20px; */
}

@media (min-width: 500px) {
    .gallery {
        height: 85vh;
        overflow-y: hidden;
    }
    .gallery__strip__wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
    }
}

@media (min-width: 950px) {
    .gallery {
        height: 85vh;
    }

    .gallery__strip.one {
        -webkit-animation: 60s move-it ease alternate infinite 0s;
                animation: 60s move-it ease alternate infinite 0s;
        -webkit-transform: translateY(2%);
            -ms-transform: translateY(2%);
                transform: translateY(2%);
    }

    .gallery__strip.three {
        -webkit-animation: 70s move-it ease alternate infinite 0s;
                animation: 70s move-it ease alternate infinite 0s;
        -webkit-transform: translateY(2%);
            -ms-transform: translateY(2%);
                transform: translateY(2%);
    }

    .gallery__strip.two {
        -webkit-animation: 58s move-it-2 ease alternate infinite 0s;
                animation: 58s move-it-2 ease alternate infinite 0s;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .gallery__strip.four {
        -webkit-animation: 65s move-it-2 ease alternate infinite 0s;
                animation: 65s move-it-2 ease alternate infinite 0s;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .gallery__strip:hover {
        -webkit-animation-play-state: paused;
                animation-play-state: paused;
    }

    .gallery__strip__wrapper {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
                flex: 0 0 25%;
    }
}

.photo {
    /* position: relative; */
    text-align: right;
    padding-bottom: 3rem;
}

.photo__image img {
    width: 90%;
    -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
            transform: translateX(30%);
    -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    -o-transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

@media only screen and (max-width:500px) {
    .photo {
        text-align: center;
        padding-bottom: 3rem;
    }
    
    .photo__image img {
        width: 90%;
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        overflow: hidden ;
        -webkit-transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
        -o-transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
        transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    }

    .photo__image:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: 0.5s ease-out 0.1s;
        -o-transition: 0.5s ease-out 0.1s;
        transition: 0.5s ease-out 0.1s;
    }

    .gallery__strip {
        width: 100%;
    }
    
}

.photo__name {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-top: -25px;
    -webkit-transition: 0.4s ease-in-out 0.4s;
    -o-transition: 0.4s ease-in-out 0.4s;
    transition: 0.4s ease-in-out 0.4s;
    position: relative;
    width: 100%;
}

.photo:hover .photo__image img {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
}

.photo:hover .photo__name {
    color: #fff;
}

@-webkit-keyframes move-it {

    0%,
    90%,
    100% {
        -webkit-transform: translateY(2%);
                transform: translateY(2%);
    }

    45% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

@keyframes move-it {

    0%,
    90%,
    100% {
        -webkit-transform: translateY(2%);
                transform: translateY(2%);
    }

    45% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

@-webkit-keyframes move-it-2 {

    0%,
    90%,
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    45% {
        -webkit-transform: translateY(5%);
                transform: translateY(5%);
    }
}

@keyframes move-it-2 {

    0%,
    90%,
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    45% {
        -webkit-transform: translateY(5%);
                transform: translateY(5%);
    }
}