/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contlogo {
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 100;
    -webkit-transition: all linear 0.314159265358979s;
    -o-transition: all linear 0.314159265358979s;
    transition: all linear 0.314159265358979s;
}

a {
    text-decoration: none;
    color: white;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
}

a:hover{
    color: orange;
}

.logo {
    padding: 1.5rem;
    -webkit-transition: all linear 0.314159265358979s;
    -o-transition: all linear 0.314159265358979s;
    transition: all linear 0.314159265358979s;
}

.logo:hover {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}

.menuimg {
    width: 2.5vw;
    cursor: pointer;
}

.shownavbar {
    font-size: 1.5vw;
    height: 100vh;
    background-color: black;
}

.navgrid2 {
    display: none;
    width: 100%;
    height: 100%;
    padding-left: 14vw;
    font-size: 5vw;
}

.navgrid2display {
    display: block;
}

.navptags > span {
    cursor: pointer;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
}

.navptags{
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
}

.navptags:hover {
    transform: translateX(7%);
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
    color: orange;
}

.navgrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 12fr;
    grid-template-columns: 1fr 12fr;
}

.navflex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

@media only screen and (max-width:500px) {
    .logo {
        width: 80px;
        height: 80px;
    }

    .navptags {
        padding: 0px;
        font-size: 12vw;
        line-height: 90px;
    }

    .navflex {
        padding-right: 1.5rem;
    }

    .navflex2 {
        padding: 0.5rem;
    }

    .menuimg {
        width: 20px;
    }

}