.contlogo {
    width: 100vw;
    height: 20vh;
    position: fixed;
    top: 0;
}

.logo {
    padding: 1.5rem;
}

.menuimg {
    width: 2.5vw;
}

.navflex {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
}

.navlinks {
    border-radius: 43px;
    /* background: rgba(67, 67, 67, 0.54); */
    background-color: #0009;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 0.5s;
}

.navgrid2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navptags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 0px;
    cursor: pointer;
    pointer-events: none;
    width: 0px;
    font-family: 'Satoshi', sans-serif;
}

.navptags > span {
    padding-left: 1vw;
}

.navflex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.shownavbar {
    font-size: 1.5vw;
    pointer-events: auto;
    width: auto;
}

.shownavback {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

@media only screen and (max-width:500px) {
    .logo {
        width: 80px;
    }
    .navptags > span{
        padding: 0px;
    }
    .navflex{
        padding-right: 1.5rem ;
    }
    .navflex2{
        padding: 0.5rem;
    }
    .menuimg {
        width: 20px;
    }
    .navgrid2 {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
    }
    .navlinks {
        border-radius: 20px;
        padding: 5px;
    }
    .shownavbar{
       font-size: 4vw;
    }
    .shownavback {
        display: grid;
        grid-template-rows: 6fr 1fr;
        grid-template-columns: 1fr;
    }
}

