.bg-event {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/eventshpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
}

.eventpageevent{
	width: 100vw;
    height: 100vh;
    background-image: url('../assets/eventpageevent.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.eventpageevent>p {
    width: 50vw;
    font-size: 5vw;
    font-weight: 700;
    padding: 2rem;
}

.event-page{
    /* position: absolute; */
    width:100vw;
	height: 100vh;
	overflow-y: auto;
	background-color: black;
}

.event-container{
    position: relative;
}


.event-heading{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    background:no-repeat center center;
    background-size: 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/src/assets/mainimg.png');
	filter: brightness(5);
}

.event-heading .explore{
    font-weight: 700;
}


.cards-container{
	padding: 4%;
	display: flex;
}

.sub-events-container{
	height: 87vh;
}

.back-btn{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	font-size:xx-large;
	cursor: pointer;
}

.back-btn > i{
	padding-left: 2rem;
}

@media (max-width: 768px) {
	/* Your styles for md or less go here */
	body {
	  font-size: 14px;
	}

	.event-heading{
		text-align: center;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 5rem;
		background:no-repeat center center;
		background-size: 100%;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		background-image: url('/src/assets/mainimg.png');
		filter: brightness(5);
	}
  
	/* Add more styles as needed */
	.cards-container{
		flex-direction: column;
	}
	.cards-container .card{
		width: 90%;
		margin: auto;
		margin-bottom: 2%;
	}
  }