/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.bg-pronight {
    width: 100vw;
    height: 200vh;
    background-image: url('../assets/pronighthpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.headingpronight{
    font-size: 8vw;
    margin: 0px;
}
@media only screen and (max-width:500px){
    .headingpronight{
        font-size: 14vw;
    }
    .bg-pronight{
        background-position: center;
    }
}