.bg-pronight {
    width: 100vw;
    height: 200vh;
    background-image: url('../assets/pronighthpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.headingpronight{
    font-size: 8vw;
    margin: 0px;
}
@media only screen and (max-width:500px){
    .headingpronight{
        font-size: 14vw;
    }
    .bg-pronight{
        background-position: center;
    }
}