/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.bg-team {
    width: 100vw;
    height: 200vh;
    background-image: url('../assets/teamshpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media only screen and (max-width:500px){
    .bg-team {
        background-position: center;
    }
}