.bg-team {
    width: 100vw;
    height: 200vh;
    background-image: url('../assets/teamshpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}