/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.bg-team {
    width: 100vw;
    height: 200vh;
    background-image: url('../assets/teamshpimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.team {
    width: 100vw;
    height: fit-content;
}

.team-heading {
    font-size: calc((5vw)/1.61803399);
    margin: 0px;
    padding: 5px;
    box-shadow: 2px 2px 10px #b0b0b0 inset;
}

.team-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mainmember {
    max-width: 100%;
    margin: 20px;
}

.membercard {
    position: relative;
    width: 261px;
    height: 370px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
}


.background {
    position: absolute;
    inset: 0;
    background: url('IMG_0280.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.icon .svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.box:hover .svg {
    fill: white;
}

.box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
}

.box1::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
    opacity: 1;
}

.box1:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.1s;
}

.box2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.box2:hover::before {
    opacity: 1;
}

.box2:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.2s;
}

.box3::before {
    background: radial-gradient(circle at 30% 107%,#f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%);
}

.box3:hover::before {
    opacity: 1;
}

.box3:hover .icon .svg {
    filter: drop-shadow(0 0 5px white);
}

.box4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.3s;
}

.membercard:hover {
    transform: scale(1.025);
}

.membercard:hover .box {
    bottom: -1px;
    left: -1px;
}

.content {
    margin: 10px 0;
    width: 261px;
    font-size: 25px;
    text-align: center;
}

.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 3px;
}

.mention {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

@media only screen and (max-width:500px) {
    .bg-team {
        background-position: center;
    }
    .team-heading {
        font-size: 6vw;
        margin: 0px;
    }
}