/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#root {
  margin: 0 auto;
  padding: 0rem;
  font-size: 15px;
}

.contlogo {
  width: 100vw;
  height: 20vh;
  position: absolute;
}

.logo {
  padding: 1.5rem;
}

.themeimg {
  width: 30vw;
}

.custom-box-shadow {
  -webkit-box-shadow: 20px 20px 60px rgba(255, 255, 255, 0),
    inset -2px -2px 4px rgb(0, 0, 0);
          box-shadow: 20px 20px 60px rgba(255, 255, 255, 0),
    inset -2px -2px 4px rgb(0, 0, 0);
}

.satoshi {
  font-family: 'Satoshi', sans-serif;
}

.phonk{
  font-family: "Phonk Regular DEMO";
  margin: 0px;
}

.navgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr;
  grid-template-columns: 1fr 12fr;
}

.menuimg {
  width: 2.5vw;
}

.pointer{
  cursor: pointer;
}