:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}
body{
  margin: 0px;
}
/* body::-webkit-scrollbar{
  background-color: transparent;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient( #ff7a18, #af002d 41.07%, #319197 76.05%);
  border-radius: 20px;
}
.gallery::-webkit-scrollbar{
  background-color: transparent;
}
.gallery::-webkit-scrollbar-thumb{
  background: linear-gradient( #ff7a18, #af002d 41.07%, #319197 76.05%);
  border-radius: 20px;
} */
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}
/* .synapse , .aboutus , .themeflexout , .homepageevent , .gallery , .footer{
  scroll-snap-align: start;
} */